<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<style>
    {% if page.header.text_color %}
      .page__hero--overlay .page__title,
      .page__hero--overlay .page__meta,
      .page__hero--overlay .page__lead,
      .page__hero--overlay .btn {
        color: {{ page.header.text_color }} !important;
      }
    {% endif %}
</style> 

{% if page.page_css %}
  {% for stylesheet in page.page_css %}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
  {% endfor %}
{% endif %}

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
    <script type="text/javascript" src="{{ js_file }}" defer></script>
  {% endfor %}
{% endif %}
