---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$notice-background-mix: 80%;
$right-sidebar-width: 300px;
$right-sidebar-width-narrow: 200px; 
$max-width: 1440px; 
$mfp-iframe-max-width: 1280px;
$serif: Georgia, Times, serif;
$sans-serif: "Helvetica Neue","Gill Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
   "Lucida Grande", Arial, sans-serif !default;



{% if page.minimal_mistakes_skin %}
@import "minimal-mistakes/skins/{{ page.minimal_mistakes_skin }}";
{% else %}
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
{% endif %}
@import "minimal-mistakes"; // main partials



.page__hero {
  max-height: 50vh;
  overflow: hidden;
}

.page__hero--overlay.backlight { .page__lead,.page__meta,.page__title {
      color: black !important;
      text-shadow: 3px 3px 9px rgba(#fff, 0.9) !important; 
    }
  }

.openVideo img {
  max-height: 600px;
  width: auto;
}




.mfp-title {
  text-align: left;
  font-style:italic;
  color: #fff0f8;
}

.page__hero-image {
  width: 100%;
  max-height: inherit;
  object-fit: cover;
  object-position: center center;
}

.page__hero--overlay {
  min-height: 25vh;
}

video {
    /* override other styles to make responsive */
    max-width: 100%    !important;
    max-height: 100%    !important;
    height: auto   !important;
    display: block;
    padding: 5px;
  }

.video-popup video {
  max-height: 98vh !important;
}

.feature__item--center.vwrap {
  max-height: 60vh;
  display:grid;
};

.feature__item--center img {
  height: 100%;
};

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}  

.video-content {
  height:92vh;
} 

.video-popup {
  max-height: 95vh !important;
  padding: 5px;
  position: relative;
  width: auto;
}

 .video-content video:playing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh !important;
  min-width: 100%;
  overflow:visible;
}

::cue {
  background-color:rgba(#003322,0.5) !important;
  color: lightgoldenrodyellow;
}



.vidtitle {
  text-align: center !important; 
  font-size: $type-size-6;
  font-weight: bold;
}  

.new {
  display: inline-block;
  margin-top: 0.1em;
  padding: 0.15em 0.4em 0.15em; 
  font-size: $type-size-6;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  border-style: inset;
  border-color: rgba(0, 139, 70, 0.55);
  border-width: 3px;
  border-radius: 5px;
  background-color: rgba(0, 40, 10, 0.8);    
  color: lightpink;
}


.vnew {
  display: inline-block;
  margin-top: 0.2em;
  padding: 0.2em 0.6em 0.2em; 
  font-size: $type-size-5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-style: ridge;
  border-color: rgba(0, 0, 139, 0.55);
  border-width: 6px;
  border-radius: 14px;
  background-color: rgba(0, 0, 80, 0.8);    
  color: rgb(248, 248, 228);
}

a img {
  box-shadow:4px 2px 6px #010101;
  border: none
} 

.sidebar img {
  max-width: 380px; 
}

.author__avatar img {
  max-width: 110px;
}


.clf {
  @include clearfix;
}

.cl {
  clear: both;
}

.vide {
  max-width: 720px;
}

.popvide {
  max-width: 640px;
}

.bott {
  
}



a.site-logo img{
  box-shadow: 0px 0px 0px #ffffff !important;
}


.tweet {
  display: inline-block;
  width: 33%;
  height: auto;
  padding: 0 5px 5px 5px;
}

.tweet:focus {
  order: 1;
}



.twr {
  float: right;
}

.jason {
  max-height: 220px;
  max-width: 200px;
}

.vidbox {
  max-height: 500px;
  max-width: 200px;  
}
.boxtease   {
  position: relative; 
  height: 180px;
}

.boxtease img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.minigal {
  display: inline-block;
  vertical-align: bottom;
}

.modcard {
  max-height: 240px;
  max-width: 360px;
}

.vidcard {
  width: 360px;
  max-height: 240px;
}

a[href*="//"]:not([href*="masternotions.com"]) {

  &:not(.btn){
    color: #784580;
  }

  &:hover {
    color: #204060;
  }

  &.btn {
    color: #1d021f;

  }

  &.btn--light-outline {
    color: #ffbbf8;
  }
  
}

.tweetgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.sidebar {

  position:  static !important;
  max-height: 100% !important;
}

.popup-vimeo {
  width: 100%;
}


blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 500;
}

blockquote.twitter-tweet p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}


// .pdfcontainer {
//   position: relative;
//   overflow: hidden;
//   height: 100%;
//   width: 100% !important;
//   max-height: 70vh;
//   padding-top: 150%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
// }

.pdfcontainer {
  position: relative;
  height: 70vh;
  width: 95% !important;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


.video__overlay {
   /* Position */
   left: 0;
   position: absolute;
   top: 0;

   /* Take full size */
   height: 100%;
   width: 100%;

   /* Center the content */
   align-items: center;
   display: flex;
   justify-content: center;

   /* Add a dark background */
   background-color: rgba(0, 0, 0, 0.25);

}

.videolink {
  position: relative;
}

.videobutton {

  max-height: 50%;
  width: auto;
  opacity: 0.45;
}